<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.praxello.smartmcq">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.sensor.proximity" />

    <application
        android:name=".services.SmartQuiz"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".DemoFaceDistanceActivity"></activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.AddNewQuestionActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.ViewQuestionActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.AddQuizActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.MyQuizActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.MyScoreActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.UpdateProfileActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.SignUpActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.ForgotPasswordActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.DashBoardActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.QuizSubTopicsActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.QuizTopicsActvity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.WelcomeSliderActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.quiz.QuizActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.PreViewActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="adjustPan|stateHidden" />
    </application>

</manifest>